:root {
  background: #111;
  color: white;

  font-size: 12pt;
  font-family: sans-serif;
}

h1 {
  font-size: 2.5rem;
  margin: 0.5rem 1rem;
}

.subtitle {
  color: #DDD;
  font-style: italic;
  margin: 0 1rem;
}

input {
  color: white
}

.wrapper {
  max-width: 800px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.input-area {
  margin: 1rem 0;
  
  & > input {
    background: #444;
    border: none;
    height: 3rem;
    border-radius: 1.5rem;
    width: 100%;

    box-sizing: border-box;
    padding: 1rem;
  }
}

.status-message {
  margin: 0.5rem 1rem;
}

.thumbnail-gallery {
  display: flex;
  gap: 1rem;

  & > div {
    position: relative;
    width: 25%;

    & > img {
      width: 100%;
    }

    &:hover > .metadata {
      opacity: 1.0;
    }

    & > .metadata {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($color: black, $alpha: 0.5);
      color: white;
      
      transition: 0.25s opacity;
      opacity: 0.0;

      & > div {
        position: absolute;
        inset: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
      }
    }
  }
}