:root {
  background: #213;
  color: white;

  font-size: 12pt;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.5rem;
  margin: 0.5rem 1rem;
}

.subtitle {
  color: #DDD;
  font-style: italic;
  margin: 0 1rem;
}

.wrapper {
  background: #111;
  max-width: 800px;
  min-height: 100vh;

  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding-bottom: 100px;
}

input {
  color: white
}

input:focus {
  outline: 1px solid #FFAA00;
}

button {
  cursor: pointer;

  background: transparent;
  border: none;
  color: white;
  padding: 1rem;
  border-radius: 1rem;

  &:hover {
    box-shadow: 0 0 10px #FFAA00
  }
}

.toolbox {
  display: flex;
  justify-content: space-between;

  button {
    margin: 0.5rem;
  }
}

.theme-selector {
  & > .active {
    background: #FFAA00;
    color: black
  }
}

.input-area {
  margin: 0.75rem 0;
  
  & > input {
    font-size: 1.5rem;
    background: #444;
    border: none;
    height: 3rem;
    border-radius: 1.5rem;
    width: 100%;

    box-sizing: border-box;
    padding: 1rem;
  }

  & > .clear-url {
    position: absolute;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    color: white;
    font-size: 2rem;
    padding: 0;

    &:hover { box-shadow: none }
  }
}

.status-message {
  margin: 0.5rem 1rem;

  & > .success {
    color: #55FF55
  }

  & > .failure {
    color: #FF5555
  }
}

.thumbnail-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  & > .gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    // width: 25%;

    // flex-basis: 25%;  // This doesn't take account of the parent's gap property
    flex-basis: calc(25% - (0.75rem));
    flex-grow: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: fit-content;
    // border: 1px solid white;
    box-sizing: border-box;

    & > img {
      width: 100%;
    }

    &:hover > .metadata {
      opacity: 1.0;
    }

    & > .metadata {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($color: black, $alpha: 0.5);
      color: white;
      
      transition: 0.25s opacity;
      opacity: 0.0;

      text-decoration: none;

      & > div {
        position: absolute;
        inset: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
        
        text-align: center;
      }
    }
  }
}

.thumbnail-gallery.compact-v2 {
  & > .gallery-item {
    overflow: visible;
    z-index: 0;

    &:hover {
      z-index: 1;
      filter: drop-shadow(0 0 10px black);
    }

    & > .hover-trigger {
      width: 100%;
      height: 100%;

      & > img {
        pointer-events: none;
        width: 100%;
        transition: 0.2s transform;
      }

      &:hover {
        & > img {
          transform: scale(1.2)
        }

        & > .metadata {
          opacity: 1.0;
        }
      }

      & > .metadata {
        position: absolute;
        width: 100%;
        height: fit-content;
        top: 100%;
        left: 0;

        transform: scale(1.2);
        transform-origin: top;
        opacity: 0.0;

        pointer-events: none;

        transition: 0.25s opacity;
        text-decoration: none;

        background: rgba($color: black, $alpha: 0.7);
        color: white;

        & > div {
          pointer-events: none;

          position: relative;
          inset: unset;
          margin: unset;

          width: 100%;
          height: fit-content;
          
          text-align: center;
          top: 100%;
        }
      }
    }
  }  
}

.thumbnail-gallery.list {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;

  & > .gallery-item {
    display: flex;
    justify-content: flex-start;
    align-items: unset;

    overflow: unset;
    height: unset;
    gap: 1rem;

    & > .thumbnail {
      position: relative;
      width: percentage(calc(5 / 12));
      border-radius: 10px;
      overflow: hidden;

      & > img {
        width: 100%
      }
    }

    & > .metadata {
      width: percentage(calc(7 / 12));
      position: relative;
      transition: unset;
      opacity: 1.0;

      font-size: 1.2rem;

      padding: 0.5rem 0
    }

  }
}