
.thumbnail-gallery {
  display: flex;
  gap: 1rem;

  & > div {
    position: relative;
    width: 25%;

    & > img {
      width: 100%;
    }

    & > .metadata {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($color: #6495ED, $alpha: 0.25);

      & > div {
        position: absolute;
        inset: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
      }
    }
  }
}