:root {
  background: #213;
  color: white;

  font-size: 12pt;
  font-family: sans-serif;
}

h1 {
  font-size: 2.5rem;
  margin: 0.5rem 1rem;
}

.subtitle {
  color: #DDD;
  font-style: italic;
  margin: 0 1rem;
}

input {
  color: white
}

.wrapper {
  background: #111;
  max-width: 800px;
  min-height: 100vh;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.input-area {
  margin: 0.75rem 0;
  
  & > input {
    font-size: 1.5rem;
    background: #444;
    border: none;
    height: 3rem;
    border-radius: 1.5rem;
    width: 100%;

    box-sizing: border-box;
    padding: 1rem;
  }
}

.status-message {
  margin: 0.5rem 1rem;
}

.thumbnail-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  & > .gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    // width: 25%;

    // flex-basis: 25%;  // This doesn't take account of the parent's gap property
    flex-basis: calc(25% - (0.75rem));
    flex-grow: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: fit-content;
    // border: 1px solid white;
    box-sizing: border-box;

    & > img {
      width: 100%;
    }

    &:hover > .metadata {
      opacity: 1.0;
    }

    & > .metadata {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($color: black, $alpha: 0.5);
      color: white;
      
      transition: 0.25s opacity;
      opacity: 0.0;

      text-decoration: none;

      & > div {
        position: absolute;
        inset: 0;
        margin: auto;
        width: fit-content;
        height: fit-content;
        
        text-align: center;
      }
    }
  }

  & > .gallery-item.experimental-hover {
    overflow: visible;

    & > .metadata {
      opacity: 1.0;

      position: absolute;
      width: 100%;
      background: rgba($color: black, $alpha: 0.05);

      & > div {
        pointer-events: none;

        position: relative;
        inset: unset;
        margin: unset;
        width: 100%;

        background: rgba($color: black, $alpha: 0.5);

        top: 100%;
        z-index: 1;
      }
    }
  }
}